/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom, #f1eaf7, #9b94a3);
  }
nav {
    width: 100%;
    height: 62px;
    background-color: #dc9fff;
    display: flex;
  }   
   
.myName {width: 333px;
    height: 62px;
    font-family: Lobster;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: 1.8px;
    text-align: center;
    color: #372357;}    
.navMenu {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #372357;
  padding: 5px;
} 
button {
  width: 191px;
  height: 43.2px;
  border-radius: 23px;
  border: solid 3px #ffffff;
  background-color: #dc9fff;
  margin: 9px; 
}
.artLink {
  display: flex;
}
.artLink img {
  width: 100px;
  height: 100px;
}
  
.qrcode {
  width: 121px;
  height: 127px;
  object-fit: contain;
 }
.aboutMoi {
  display: flex;
}
.aboutMoi img {
  width: 38%;
  margin:2%;
}

.meText {
  width: 52%;
  margin: 2%;
}
.intFacts {
  margin-top: 15px;
}
.caseStudy {
  width: 96%;
  height: 934px;
  border-radius: 68px;
  background-color: #eafafa;
  margin: 2%;
  margin: 2%;
}
.caseStudy p {
  width: 30%;
}
.caseStudy img {
  width: 30%;
}
.gif {
  width: 20%;
}
h1 {
  width: 909px;
  height: 116px;
  font-family: Lobster;
  font-size: 90px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #372357;
}
h2 {
    width: 909px;
    height: 47px;
    font-family: Lobster;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: left;
    color: #372357;
  }
  p {
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #372357;
  }
 li {
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #372357;
 }
 span {
   text-decoration: underline;
 } 

.appLogo {
  width: 32%;
  object-fit: contain;
}
footer img {
  width: 3%;
}
.itenerary {
  display: flex;
  
}
.mapView img{
  width: 16.5%;
  padding: 20px;
}
.listview img{
  width: 16.5%;
  padding: 20px;
}